.article {
    position: relative;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin: 24px auto 64px;
    color: var(--white);
}

.image {
    width: 100%;
    max-width: 358px;
    position: relative;
    z-index: 1;
    filter:
        drop-shadow(0 25px 50px rgba(0, 0, 0, 0.25)) drop-shadow(0 0 15px rgba(0, 0, 0, 0.07));
}

.circle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.circle--lg {
    display: none;
}

@media screen and (min-width: 1440px) {
    .article {
        background-color: var(--purple-secondary);
        display: grid;
        grid-template-areas: 
            "header quote"
            "img img";
        text-align: left;
        row-gap: 80px;
    }

    .article>* {
        position: relative;
        z-index: 1;        
    }

    .article>div:first-child {
        max-width: 894px;
        margin-left: 240px;
    }

    .quote {
        grid-area: quote;
        align-self: flex-end;
        justify-self: flex-end;
        margin: 0 80px 0 0;
    }

    .quote>p {
        font-size: var(--md);
        line-height: 29px;
    }

    .picture {
        grid-area: img;
        justify-self: center;
    }

    .image {
        max-width: 1008px;
    }

    .circle {
        display: none;
    }

    .circle--lg {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;        
    }
}