.wrapper {
    padding: 32px;
    background-color: var(--white);
    border: solid 1px #E2E8F0;
    border-radius: 10px;
    text-align: left;
    width: 90vw;
    max-width: 358px;
    box-sizing: border-box;
    filter: var(--image-shadow);
}

.image {
    margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
    .wrapper {
        width: 364px;
        max-width: none;
        padding: 56px 32px;
    }
}