.content {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    margin: 0 16px 48px;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-align: center;
    align-items: center;
}

.title {
    font-size: var(--heading-2);
    font-weight: 700;
    line-height: 44px;
}

.text {
    font-size: var(--md);
    font-weight: 400;
    line-height: 29px;
}

@media screen and (min-width: 1024px) {
    .content {
        margin: 27px 24px 59px;
        width: 600px;
        box-sizing: border-box;
        row-gap: 128px;
    }

    .main {
        text-align: left;
        align-items: flex-start;
    }

    .title {
        font-size: var(--heading-4);
        font-weight: 800;
        line-height: 79px;
    }

    .text {
        font-size: var(--xl);
        font-weight: 400;
        line-height: 38px;
    }
}

@media screen and (min-width: 1440px) {
    .content {
        margin: 27px 80px 59px;
    }
}