.navWrapper {
    height: 333px;
}

.nav {
    padding: 10px;
}

.nav__button {
    position: absolute;
    right: 8px;
    top: 8px;
}

.nav__bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -100;
}

.nav__bg>img {
    width: 365px;
}

.content {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-align: center;    
}

.title {
    font-size: var(--heading-2);
    font-weight: 700;
    line-height: 44px;
}

.text {
    font-size: var(--md);
    font-weight: 400;
    line-height: 29px;
}