.button {
    font-size: var(--xl);
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 306px;
    height: 64px;
    padding: 20px 24px;
    border: 2px solid var(--purple-primary);
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

.purpleTheme {
    color: var(--purple-primary);
    border-color: var(--purple-primary);
}

/* TODO: smooth animation */
.purpleTheme:hover {
    color: var(--orange-secondary);
    background-color: var(--purple-primary);
}

.orangeTheme {
    color: var(--orange-secondary);
    border-color: var(--orange-secondary);
}

/* TODO: smooth animation */
.orangeTheme:hover {
    color: var(--orange-tertiary);
    background-color: var(--orange-secondary);
}