.button {
    font-size: var(--sm);
    font-weight: 500;
    letter-spacing: 0.5px;
    height: 40px;
    padding: 8px;
    border-radius: 100px;
    border: 2px solid var(--orange-secondary);
    background-color: var(--orange-secondary);
    color: var(--orange-tertiary);
    display: flex;
    align-items: center;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.10)) drop-shadow(0 0 2px rgba(0, 0, 0, 0.07));
}

.button__icon {
    width: 14px;
    padding: 4px;
}

.button__text {
    max-width: 0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: .3s ease-out, max-width .3s ease-in-out, opacity .1s ease-out;
}

.button__text--active {
    max-width: 200px;
    opacity: 1;
    transform: scaleX(1);
    margin: 0 8px;
    transition: .3s ease-out, max-width .2s ease-in-out, opacity .3s ease-in;
}

@media screen and (min-width: 1024px) {
    .button {
        display: none;
    }
}