.button {
    font-size: var(--sm);
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 8px;
    border-radius: 100px;
    border: 2px solid var(--orange-secondary);
    background-color: var(--orange-secondary);
    color: var(--orange-tertiary);
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.button__icon {
    width: 14px;
    padding: 4px;
}

.button__text {
    margin-right: 8px;
}

@media screen and (min-width: 1024px) {
    .button {
        display: none;
    }
}

/* TODO: smooth animation */

