.article {
    position: relative;
}

.article > p {
    position: relative;
    z-index: 1;
}

.image {
    margin-top: 64px;
    max-width: 358px;
    filter: var(--image-shadow);
    position: relative;
    z-index: 1;
}

.circle__left {
    position: absolute;
    left: 0;
    bottom: 155px;
    z-index: 0;
}

.circle__right {
    position: absolute;
    right: 0;
    bottom: 125px;
    z-index: 0;
}