.supTitle {
    color: var(--orange-primary);
    font-size: var(--base);
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
}

.title {
    font-size: var(--heading-1);
    font-weight: 700;
    line-height: 32px;
}

.primary {
    color: var(--black-primary);
}

.secondary {
    color: var(--white);
}