.supTitle {
    font-size: var(--base);
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
}

.supTitle--primary {
    color: var(--orange-primary);
}

.supTitle--secondary {
    color: var(--orange-secondary);
}

.title {
    font-size: var(--heading-1);
    font-weight: 700;
    line-height: 35px;
}

.primary {
    color: var(--black-primary);
}

.secondary {
    color: var(--white);
}

@media screen and (min-width: 1440px) {
    .supTitle {
        font-size: var(--lg);
        line-height: 22px;
    }

    .title {
        font-size: var(--heading-3);
        font-weight: 800;
        line-height: 62px;
    }
}