.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 24px 0;
    font-size: var(--base);
    font-weight: 400;
    line-height: 22px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.links {
    display: flex;
    column-gap: 24px;
}

@media screen and (min-width: 1440px) {
    .footer {
        padding: 24px 80px;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright {
        flex-direction: row;
        column-gap: 24px;
    }
}