.cards {
    margin: 64px auto 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
}

.imageWrapper {
    display: flex;
    margin-right: -16px;
}

.image {
    filter: var(--image-shadow);
}