:root {
  --font-family: "Roboto", sans-serif;

  /* font sizes */
  --sm: 14px;
  --base: 16px;
  --md: 18px;
  --lg: 20px;
  --xl: 24px;
  --heading-1: 32px;
  --heading-2: 40px;
  --heading-3: 56px;
  --heading-4: 72px;

  /* colors */
  --white: #FFFFFF;
  --black-primary: #0F172A;
  --black-secondary: #475569;
  --blue-primary: #0369A1;
  --orange-primary: #D97706;
  --orange-secondary: #FCD34D;
  --orange-tertiary: #78350F;
  --orange-quaternary: #F59E0B;
  --purple-primary: #581C87;
  --purple-secondary: #7E22CE;
  --purple-tertiary: #A252EE;
  --purple-quaternary: #A855F7;  
}

body {
  font-family: var(--font-family);
  color: var(--black-primary);
  padding: 0 16px;
}